[submodule "biomedical_mobile"]
	path = biomedical_mobile
	url = git@github.com:Sree-Ram-MS/Elite-Biomedical-Service-App.git
[submodule "OpenWA_v2"]
	path = OpenWA_v2
	url = https://github.com/yourname/OpenWA_v2.git
